.cell-bg {
    width: 40px;
    height: 40px;
    /* background-color: rgba(218, 237, 181, 0.2); */
}

.background-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 100vw;
    z-index: -1;
    overflow: hidden;
}

.background-home {
    /* position: absolute; */
    /* width: 100vw;
    height: 100vh; */
    display: grid;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); */
    z-index: -1;
    gap: 5px;
}