*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}
.game-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    /* width: 500px; 
    height: 500px; */
    background-color: rgb(255, 255, 255);
    display: grid; 
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1px;
}

.score {
    position: absolute;
}
.cell {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    /* background-color: #e2f3c1;
    color: #708742; */
    /* color: #f25555 */
}    