*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}
body {
    background-color: #fafff0;
}
.game-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-board {
    background-color: rgb(255, 255, 255);
    display: grid; 
    
}

.top-bar {
    position: absolute;
}
.cell {
    width: 18px;
    height: 18px;
    gap:2px;
    border-radius: 5px;
    /* color:#f0f7e1; */
}    

.cell-dark {
    background-color: #cdea94;
}

.viper {
    background-color: red;
    width: 100%;
    height: 100%;
}

.restart-game-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding:0;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart-game {
    background-color: #708742;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8px 14px;
    margin: 0;
    animation-name: restartButton;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

@keyframes restartButton {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.05);
    } 100% {
        transform: scale(1);
    }
}

.score {
    position: absolute;
    right: 0;
    padding: 0px 20px;
    font-size: 4rem;
    color: #708742;

    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
  
}

.home {
    left: 0;
    font-size: 2rem;
    color: #5b6051;
}

